<div class="mere">
  <div id="bannière">
    <img
      src="../../assets/img-apropos/Youth shutterstock_1707898726_0 1.png"
      alt=""
    />
  </div>
  <div class="card-text d-flex w-75 ">
    <div class="col-md-4">
      <div class="card p-3">
        <div class="d-flex flex-row mb-3 text-center">
          <div class="d-flex flex-column ml-2 "><strong>Objectif</strong></div>
        </div>
        <h6>
          Notre objectif est de faciliter l’orientation des personnes en
          recherche d’emploi, de profession ou de formation en les aidant à
          adhérer et découvrir leur passion, fournir des informations précises
          sur les différents secteurs d'activité et les parcours professionnels
          associés. Guindiko vise à devenir la principal destination en ligne ou
          les mentors, les élèves, les étudiants, les personnes en reconversion
          et les professionnelle se rencontre pour s’entraider dans le milieu
          professionnel.
        </h6>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card p-3">
        <div class="d-flex flex-row mb-3">
          <div class="d-flex flex-column ml-2">
            <strong>Résultats attendus</strong>
          </div>
        </div>
        <h6>
          Notre mission est claire: Que les personnes puissent trouver et faire
          un bon choix professionnel.Éviter à 10% de la population la perte de
          temps dans la recherche d’emploi et de formation. Parvenir à orienter
          55% jeunes vers les métiers d’avenir. Pousser les personnes vers les
          métiers qui leur correspondent en leur fournissant des informations de
          qualité concernant les métiers.Réduire le taux d’abandon scolaire à 5%
          Facilitez la mise en relation entre les mentors et les demandeurs.
        </h6>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card p-3">
        <div class="d-flex flex-row mb-3">
          <div class="d-flex flex-column ml-2">
            <strong
              ><span><i class="bi bi-bullseye"></i></span>Cible</strong
            >
          </div>
        </div>
        <h6>
          Guidiko rassemble quatres principaux  d’utilisateurs:les élèves, les
          etudiants, les  personnes en recon-version professionnelle et les
          jeune professsion-elle en quête d'une meilleure adéquation entre leurs
          compétences et leurs choix de carrière. Aider tous les adhérents à
          découvrir leurs passions et leurs centres d'intérêt en lien avec les
          différentes opportunités professionnelles.Ces derniers ont pour but de
          faciliter l’inter-action entre les mentors en les personnes en quete
          de réorientations.
        </h6>
      </div>
    </div>
  </div>

  <div class="carte d-flex justify-content-center border-3">
    <div class="img card">
      <img
        src="../../assets/img-apropos/1000_F_621273253_Yug2UU6YbN0CKbD1q1E1FFVjIF1idYtD 1.png"
        class="img-fluid rounded-start h-75"
        alt="..."
      />
    </div>

    <div class="card-body col-md-4 h-75 mb-3">
      <h5 class="card-title mb-3 text-center fs-5">Présentations</h5>
      <p class="card-text">
        Guindiko est née de la vision d’un groupe de passionnés convaincus que
        chaque élève, étudiant, personne a reconversion mérite une chance d’être
        accompagner, et que chaque mentor mérite l’opportunité de voir son rêve
        se concrétiser. Guindiko est une plateforme innovante qui met en
        relation les mentors et les demandeur de satisfaire leurs besoin dans le
        but de réussir leur orientation. Guidiko rassemble quatres principaux
         d’utilisateurs:les élèves, les etudiants, les  personnes en
        recon-version professionnelle et les jeune professsionelle en quête
        d'une meilleure adéquation entre leurs compétences et leurs choix de
        carrière. Ces derniers ont pour but de faciliter l’inter-action entre
        les mentors en les personnes en quete de réorientations.
      </p>
    </div>
  </div>
  <h4 class="fw-bold text-center mt-5">Teams</h4>

  <div id="carouselExampleDark" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active col-4 d-flex m-lg-5">
        <div class="four col-md-3">
          <div class="counter-box colored">
            <img
              src="../../assets/img-apropos/mariama.png"
              class="d-block w-75"
              alt="..."
            />
            <h5>Astou Diouf</h5>
            <p>Developeuse Frontend</p>
          </div>
        </div>

        <div class="four col-md-3">
          <div class="counter-box colored">
            <img
              src="../../assets/img-apropos/Mousssa.png"
              class="d-block w-75"
              alt="..."
            />
            <h5>Seydou Diallo</h5>
            <p>Developeur Backen</p>
          </div>
        </div>

        <div class="four col-md-3">
          <div class="counter-box colored">
            <img
              src="../../assets/img-apropos/anta.png"
              class="d-block w-75"
              alt="..."
            />
            <h5>Marie Lore Coly</h5>
            <p>Developeuse Frontend</p>
          </div>
        </div>

        <div class="four col-md-3">
          <div class="counter-box colored">
            <img
              src="../../assets/img-apropos/seydou.png"
              class="d-block w-75"
              alt="..."
            />
            <h5>Mouhamed Faye</h5>
            <p>Developeur Backen</p>
          </div>
        </div>
      </div>

      <div class="carousel-item active col-4 d-flex m-lg-5">
        <div class="four col-md-3">
          <div class="counter-box colored">
            <img
              src="../../assets/img-apropos/dieyna.png"
              class="d-block w-75"
              alt="..."
            />
            <h5>Khadidiatou Diallo</h5>
            <p>Developeuse Backen</p>
          </div>
        </div>

        <div class="four col-md-3">
          <div class="counter-box colored">
            <img
              src="../../assets/img-apropos/khadidiatou.png"
              class="d-block w-75"
              alt="..."
            />
            <h5>Ndiyé Ngom</h5>
            <p>Developeuse Backen</p>
          </div>
        </div>
        <div class="four col-md-3">
          <div class="counter-box colored">
            <img
              src="../../assets/img-apropos/marie lore.png"
              class="d-block w-75"
              alt="..."
            />
            <h5>Veronique Diatta</h5>
            <p>Developeuse Frontend</p>
          </div>
        </div>

        <div class="four col-md-3">
          <div class="counter-box colored">
            <img
              src="../../assets/img-apropos/amadem.png"
              class="d-block w-75"
              alt="..."
            />
            <h5>Amamdem Fall</h5>
            <p>Developeur Frontend</p>
          </div>
        </div>
      </div>
      <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button> -->
    </div>
  </div>

  <div><h4 class="fw-bold text-center">Ce que nous proposons</h4></div>
  <div class="info d-flex">
    <div class="text-info fs-5 text-black m-lg-3 mt-5">
      <p>Chez Guindiko nous mettons a votre dispositions conviviale et sécuriser qui offre  <br>
        une variété de fonctionnalité  essentielle: </p>
      <strong>Rencontres Personnalisées:</strong>
      <p><span><i class="bi bi-check"></i></span>Nous facilitons la mise en relation entre les mentors et les  demandeurs de <br>
        d’accompagnement.
      </p>
      <strong>Transparence et sécurité:</strong>
      <p><span class="color"><i class="bi bi-check"></i></span>
      Nous nous engageons à garantir la transparence et la sécurité des échanges sur la plateforme.
      </p>
    </div>
    <div><img src="../../assets/img-apropos/ffemme-afro-americaine-noire 1.png" alt=""></div>
  </div>
</div>
