<app-header></app-header>
<!-- Page Content -->
<div id="baniere">
  <!-- <img src="../../../assets/fullProject/imgServive/Standard quality control concept m.png" alt="" id="baniere"> -->
</div>
<div class="container" id="">
  <div>
    <div id="divTitre">
      <h1 id="titre">Nos services</h1>
      <div id="souligneTitre"></div>
    </div>
    <div>
    </div>
    <!-- <div class="input-group">
      <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" [(ngModel)]="filterValue" (input)="onSearch()" >
      <!-- <span class="input-group-text">$</span> --
      <span class="input-group-text"><i class="bi bi-search"></i></span>
    </div> -->
  </div>

  <div class="row" id="service">
    <!-- Team Member 1 -->
    <div class="">
      <div class="card border-0 ">
        <img src="../../../assets/fullProject/imgServive/informatique.png" class="card-img-top" id="imagecard" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Informatique</h5>
          <div class="card-text text-black">
            <p> Le mentorat en informatique, c’est bien plus qu’une profession, c’est une passerelle vers l’excellence numérique. En tant que mentor en informatique, vous avez le pouvoir de guider les esprits avides de connaissances à travers le paysage complexe de la technologie, en partageant votre expertise ....</p>
          </div>
          <div>
            <button type="button" class="btn " id="boutton" routerLink="/detailInformatique">Voir plus...</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="">
      <div class="card border-0 ">
        <img src="../../../assets/fullProject/imgServive/science.png" class="card-img-top" alt="..." id="imagecard">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Sciences</h5>
          <div class="card-text text-black">
            <p>Le mentorat en sciences est une aventure passionnante vers la découverte,  l’apprentis-
              sage et l’innovation. En tant que mentor en sciences, vous avez le privilège de guider des esprits curieux avides de comprendre les mystères de l’univers, en partageant votre expertise pour les inspirer à explorer,....</p>
          </div>
          <div>
            <button type="button" class="btn " id="boutton" routerLink="/detailScience">Voir plus...</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="">
      <div class="card border-0 ">
        <img src="../../../assets/fullProject/imgServive/gestman.png" class="card-img-top" alt="..." id="imagecard">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Gestion et Management</h5>
          <div class="card-text text-black">
            <p>Le mentorat en gestion est une profession dédiée à façonner les futurs leaders et à renforcer les compétences en gestion. En tant que mentor en gestion, vous partagez votre expérience et vos connaissances pour guider les aspirants gestionnaires dans la compréhension des défis complexe .......</p>
          </div>
          <div>
            <button type="button" class="btn " id="boutton"routerLink="/detailGestman">Voir plus...</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="">
      <div class="card border-0 ">
        <img src="../../../assets/fullProject/imgServive/art.png" class="card-img-top" alt="..." id="imagecard">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Art</h5>
          <div class="card-text text-black">
            <p>Le mentorat en art est une forme d’accompagnement artistique qui transcende les techniques et les médiums. En tant que mentor en art, vous avez le pouvoir de guider des artistes en herbe, des créateurs et des passionnés d’art dans leur voyage de découverte artistique, ....</p>
          </div>
          <div>
            <button type="button" class="btn " id="boutton" routerLink="/detailArt">Voir plus...</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Team Member 5 -->
    <div class="">
      <div class="card border-0 ">
        <img src="../../../assets/fullProject/imgServive/technique.png" class="card-img-top" alt="..." id="imagecard">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Technique</h5>
          <div class="card-text text-black">
            <p>Le mentorat en technique est une opportunité de partager une expertise technique précieuse avec ceux qui cherchent à maîtriser les aspects pratiques et les compétences essentielles de divers domaines techniques. En tant que mentor en technique, vous guidez les apprenants, les étudiants ....</p>
          </div>
          <div>
            <button type="button" class="btn " id="boutton" routerLink="/detailTechnique">Voir plus...</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Team Member 6 -->
    <div class="">
      <div class="card border-0 " >
        <img src="../../../assets/fullProject/imgServive/hotelerie.png" class="card-img-top" alt="..." id="imagecard">
        <div class="card-body text-center">
          <!-- <div> -->
            <h5 class="card-title mb-0">Hôtellerie</h5>
          <!-- </div> -->
          <div class="card-text text-black">
            <p>Le mentorat en  hôtellerie vous ouvre les portes d'une aventure exceptionnelle, taillée sur mesure pour façonner votre chemin vers l'excellence professionnelle. C'est une immersion personnalisée dans le monde dynamique de l'accueil et de la gestion hôtelière,....</p>
          </div>
          <div id="divbutton">
            <button type="button" class="btn " id="boutton" routerLink="/detailHotellerie">Voir plus...</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>


